Flask==1.1.1
redis==3.5.0
progress==1.5
Flask-RESTful==0.3.8
webargs==6.0.0
marshmallow-dataclass[enum,union]==7.3.0
Flask-Cors==3.0.8
hiredis==1.0.1
click==7.1.1
redistimeseries==0.8.0
python-dotenv==0.15.0
cryptography<39.1  # Last version without a Rust dependency
